# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Tests.cpp
*.db
Inventory Manager/.vs/Inventory Manager/v15/.suo
*.ilk
*.pdb
*.tlog
*.log
*.idb
Inventory Manager/.vs/Inventory Manager/v15/Browse.VC.db
Inventory Manager/.vs/Inventory Manager/v15/Browse.VC.opendb
Inventory Manager/.vs/Inventory Manager/v15/Browse.VC.db
Inventory Manager/.vs/Inventory Manager/v15/.suo
Inventory Manager/.vs/Inventory Manager/v15/Browse.VC.db
